@model HemenBiletProje.Models.User

@{
    ViewBag.Title = "Sign Up";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div style="background-image: url('/img/gonderisleri2jpg.jpg'); background-size: contain; background-position: center; height: 100vh; position: relative;">
    <div class="container" style="position: absolute; left: 65%; top: 25%;">
        <form method="post">
            <div class="form-group">
                <label asp-for="UserName" class="mr-3" style="color:rgb(189, 173, 82); font-size: large;">Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" style="color: cadetblue;" />
                <div asp-validation-for="UserName" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="mr-3" style="color:rgb(189, 173, 82); font-size: large;">Şifre</label>
                <input type="password" asp-for="Password" class="form-control" style="color: cadetblue;" />
                <div asp-validation-for="Password" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="mr-3" style="color:rgb(189, 173, 82); font-size: large;">E-posta</label>
                <input asp-for="Email" class="form-control" style="color: cadetblue;" />
                <div asp-validation-for="Email" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="mr-3" style="color:rgb(189, 173, 82); font-size: large;">Telefon</label>
                <input asp-for="Phone" class="form-control" style="color: cadetblue;" />
                <div asp-validation-for="Phone" class="text-danger"></div>
            </div>

            <button type="submit" class="btn btn-warning my-3" style="color: brown; position: absolute; left: 25%;"><b>Kayıt Ol</b></button>
        </form>
    </div>
</div>
