@{
    ViewBag.Title = "Ýletiþim";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Eðer bir Layout kullanýyorsanýz bunu belirtin
}

<h2>Bize Ulaþýn</h2>
<p>Email: hemenbilet@gmail.com</p>
<p>Telefon: +90 555 123 4567</p>
